footer{
  border-top:1px solid #1f41bb ;
  display: flex;
  flex-direction:column;
  align-items:center ;
  justify-content: center;
  height: 100px;
  background-color: rgb(209, 207, 207);
}
footer h3 {
  margin-bottom: 1em;
}
footer span {
font-weight: bold;
color: #1f41bb;
}
