
<nav>

  <a  class="brand" routerLink="/">
  <img src="assets/img8.png" alt="manageCars"/>
  <h2>ManageCars</h2>
  </a>

    <ul class="links">
      <li > <a  routerLink="/novoservico"> Novo Serviço</a></li>
      <li > <a  routerLink="/novo-cliente"> Cadastar Cliente</a></li>

      <li> <a routerLink=" "> Status</a></li>

      <li> <select id="cars"><a>Usuario</a>
        <option value="volvo">Caixa</option>
        <option value="saab">Fúncionario</option>

      </select></li>


      <li> <select id="cars"><a>Produto</a>
        <option value="volvo">Novo Produto</option>
        <option value="saab">Editar Produtos</option>

      </select></li>
    </ul>
  </nav>
