

<nav>

  <a  class="brand" routerLink="/">
  <img src="assets/img8.png" alt="manageCars"/>
  <h2>ManageCars</h2>
  </a>

    <ul class="links">
      <li> <button mat-button ><a routerLink=" "> Status</a></button></li>
      <li ><button mat-button ><a  routerLink="/novoservico"> Novo Serviço</a></button></li>
      <li >
        <button mat-button [matMenuTriggerFor]="menu">Cliente</button>
<mat-menu #menu="matMenu">
     <button mat-menu-item> <a  routerLink="/novo-cliente">Novo Cliente</a></button>
     <button mat-menu-item>Listar Clientes</button>
</mat-menu>
</li>




    </ul>
  </nav>

