<form  (ngSubmit)="enviarForm()" [formGroup] ="clienteForm" #FormDir="ngForm" >




  <div class="form-group">
    <input type="text" placeholder="Nome do cliente." formControlName="description" required/>
<div *ngIf="nome.invalid && FormDir.submitted" class="validation-error">

  <p> O campo Nome precisa ser preenchido!</p>

</div>
  </div>

  <div class="form-group">
    <input type="text" placeholder="Número do Cliente." formControlName="description" required/>
<div *ngIf="numero.invalid && FormDir.submitted" class="validation-error">

  <p> O Campo Número Precisa ser prenchido!</p>

</div>
  </div>



  <div class="form-group">
    <input type="text" placeholder="Marca do veículo." formControlName="description" required/>
<div *ngIf="marca.invalid && FormDir.submitted" class="validation-error">

  <p> O campo Marca precisa ser preenchido!</p>

</div>
  </div>


  <div class="form-group">
    <input type="text" placeholder="Modelo do veículo." formControlName="description" required/>
<div *ngIf="modelo.invalid && FormDir.submitted" class="validation-error">

  <p> O campo Modelo precisa ser preenchido!</p>

</div>
  </div>
  <div class="form-group">
    <input  placeholder="Numeração da placa do veículo." formControlName="description" required/>
<div *ngIf="placa.invalid && FormDir.submitted" class="validation-error">

  <p> O campo Placa precisa ser preenchido!</p>

</div>
  </div>

  <input type="submit" value="{{btnText}}">
</form>

