<h2 class ="titulos"><span>Clientes</span> Cadastrados</h2>

  <div class="add-button-container">
    <button mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>


  <div class = "container">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


 <!-- informaçoes -->
 <ng-container matColumnDef="info">
  <th  mat-header-cell *matHeaderCellDef> Detalhar</th>
  <td mat-cell *matCellDef="let element">
       <button mat-icon-button  >

    <mat-icon  routerLink="/novo-cliente"> info_outline</mat-icon>
  </button> </td>


</ng-container>

<!-- cliente -->
<ng-container matColumnDef="nome">
  <th  mat-header-cell *matHeaderCellDef> Cliente</th>
  <td mat-cell *matCellDef="let element"> {{element.nome}}  </td>
</ng-container>

<!-- PLaca-->
<ng-container matColumnDef="placa">
  <th mat-header-cell *matHeaderCellDef> Placa </th>
  <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
</ng-container>

 <!-- Acões  -->
 <ng-container matColumnDef="acoes">
  <th  mat-header-cell *matHeaderCellDef> Ações</th>
  <td mat-cell *matCellDef="let element">
    <div class = "containerIcon">

      <button mat-icon-button >
        <mat-icon>mode_edit</mat-icon>
     </button>
      <button mat-icon-button >
        <mat-icon>delete</mat-icon>
      </button>

    </div>
    </td>
  </ng-container>


  <!-- Total a pagar -->
  <ng-container matColumnDef="total">
    <th  mat-header-cell *matHeaderCellDef> Total</th>
    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

