<h2 class ="titulos"><a>Lançamentos</a></h2>

  <div class="add-button-container">
    <button mat-mini-fab (click)="formularioCliente(null)" color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>


  <div class = "container">

  <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

<!-- id -->
<ng-container matColumnDef="id">
  <th  mat-header-cell *matHeaderCellDef> ID</th>
  <td mat-cell *matCellDef="let element"> {{element.id}}  </td>
</ng-container>


<!-- Data-->
<ng-container matColumnDef="data">
  <th mat-header-cell *matHeaderCellDef> Data </th>
  <td mat-cell *matCellDef="let element"> {{element.data}} </td>
</ng-container>


<!-- Categoria-->
<ng-container matColumnDef="categoria">
  <th mat-header-cell *matHeaderCellDef> Categoria </th>
  <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
</ng-container>


<!-- descrição-->
<ng-container matColumnDef="descricao">
  <th mat-header-cell *matHeaderCellDef> Descrição </th>
  <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
</ng-container>


<!-- Forma de Pagamento-->
<ng-container matColumnDef="formaDePagamento">
  <th mat-header-cell *matHeaderCellDef> Forma de Pagamento </th>
  <td mat-cell *matCellDef="let element"> {{element.formaDePagamento}} </td>
</ng-container>


<!-- situação-->
<ng-container matColumnDef="lancamentoStatus">
  <th mat-header-cell *matHeaderCellDef> Situação </th>
  <td mat-cell *matCellDef="let element"> {{element.lancamentoStatus}} </td>
</ng-container>

<!-- Valor-->
<ng-container matColumnDef="valor">
  <th mat-header-cell *matHeaderCellDef> Valor </th>
  <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
</ng-container>

 <!-- Acões  -->
 <ng-container matColumnDef="acoes">
  <th  mat-header-cell *matHeaderCellDef> Ações</th>
  <td mat-cell *matCellDef="let element">
    <div class = "containerIcon">

      <button mat-icon-button (click)="onUpdate(element)" >
        <mat-icon>mode_edit</mat-icon>
     </button>
      <button mat-icon-button (click)="onDelete(element.id)">
        <mat-icon>delete</mat-icon>
      </button>

    </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

