<h2 class ="titulos"> Novo <span>Serviço</span></h2>

<form  (ngSubmit)="enviarForm()" [formGroup] ="servicoForm" #FormDir="ngForm" >




  <div class="form-group">
    <input type="text" placeholder="Nome do cliente." formControlName="description" required/>
<div *ngIf="nome.invalid && FormDir.submitted" class="validation-error">

  <p> O campo Nome precisa ser preenchido!</p>

</div>
  </div>

  <div class="form-group">
    <input  placeholder="Numeração da placa do veículo." formControlName="description" required/>
<div *ngIf="placa.invalid && FormDir.submitted" class="validation-error">

  <p> O campo Placa precisa ser preenchido!</p>

</div>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-select [formControl]="foodControl" name="food"  >
        <mat-option>Serviços</mat-option>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

<div *ngIf="servico.invalid && FormDir.submitted" class="validation-error">

  <p> O campo Placa precisa ser preenchido!</p>

</div>

<input type="submit" value="{{btnText}}">

  </div>


</form>

